@font-face {
	font-family: "Helvetica Neue";
	src: url("/src/fonts/helvetica-neue-regular.eot?") format('embedded-opentype'),
	url("/src/fonts/helvetica-neue-regular.ttf") format('truetype'),
	url("/src/fonts/helvetica-neue-regular.otf") format('opentype'),
	url("/src/fonts/helvetica-neue-regular.woff") format('woff');
	font-weight: 400;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("/src/fonts/helvetica-neue-medium.eot?") format('embedded-opentype'),
	url("/src/fonts/helvetica-neue-medium.ttf") format('truetype'),
	url("/src/fonts/helvetica-neue-medium.otf") format('opentype'),
	url("/src/fonts/helvetica-neue-medium.woff") format('woff');
	font-weight: 500;
}