.apps-container {
	padding-top: 70px;
	padding-bottom: 45px;
	transition: .2s;
}

.apps-item {
	margin-right: 30px;
	height: 65px;
	transition: .2s;
	width: auto;
	overflow: hidden;

	.apps-badge {
		height: 100%;
	}

	&:last-child {
		margin-right: 0;
	}
}

@media @laptopMd {
	.apps-container {
		padding-top: 50px;
		padding-bottom: 35px;
	}
}
@media @laptop {
	.apps-container {
		padding-top: 40px;
	}
	.apps-item {
		height: 60px;
	}
}
@media @laptopSm {
	.apps-container {
		padding-top: 20px;
	}
	.apps-item {
		margin-right: 20px;
		height: 55px;
	}
}
@media @mobile {
	.apps-container {
		flex-direction: column;
		align-items: center;
	}

	.apps-item {
		margin-right: 0;
		margin-bottom: 20px;
		height: 60px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}