.footer{
	  margin: 0 auto;
	  width: 100%;
	  max-width: 1030px;
}

.footer-content {
	padding-top: 40px;
	padding-bottom: 25px;
}

.footer-info {
	.font-size(12);
	color: @color_grey;
	font-weight: 500;
}
.footer-info-item {
	margin: 0;
	a {
		color: @color_grey;
		text-decoration: none;

		&:hover {
			text-decoration: underline;

		}
	}
}