.header{
	padding-bottom: 70px;
}

.logo-container{
	overflow: hidden;
}
.logo-img{
	width: 100%;
	max-width: 200px;
}

.heading {
	margin-top: 35px;
	text-align: center;
	.font-size(38);
	font-weight: 500;
}